# -------------------------------------------------------------------
# 1. Python Environments and Metadata
# -------------------------------------------------------------------
# Виртуална среда
.venv/
# Cache файлове
__pycache__/
*.pyc
# Cache на MyPy
.mypy_cache/
# Cache на Pytest
.pytest_cache/
.ipynb_checkpoints

# -------------------------------------------------------------------
# 2. Secret and Config Files
# -------------------------------------------------------------------
# Файлът с API ключовете - ВАЖНО
.env
.env.local

# -------------------------------------------------------------------
# 3. Development/OS Specific Files
# -------------------------------------------------------------------
*.log
.DS_Store
Thumbs.db